# Pandas Tips & Review
### As a data scientist, you will be utilizing the pandas library in various ways to solve some of the world's most pressing issues

  
### Here are some useful pandas methods to manipulate dataframes to do and show us whatever we want!

![Alt Text](https://media.giphy.com/media/FYnYcQoFmlPeU/giphy.gif)

In [7]:
import pandas as pd
import numpy as np

#### Let's use the merge function from pandas to combine two dataframes together

In [12]:
df1 = pd.read_csv('heart.csv')
df1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [13]:
df2 = pd.DataFrame(np.random.randint(0,100,size=(1025,3)), columns=['B','C','D'])

In [18]:
df1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

df1.head()

In [15]:
df3 = pd.merge(df1,df2, on=df1.index)

In [16]:
df3

,key_0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,B,C,D
0,0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,61,0,56
1,1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,61,58,53
2,2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,96,78,89
3,3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,32,39,75
4,4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,35,65,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,69,63,12
1021,1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,95,58,76
1022,1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,19,75,68
1023,1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,77,40,99
1024,1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,64,6,90

#### What if we wanted to simply add on a few relevant columns with data to our dataframe? (Hint: Use Concat)

In [ ]:
lab_df = pd.DataFrame(np.random.randint(0,100,size=(1025,3)), columns=['Chemical_A','Chemical_B','Chemical_C'])

Answer Below

In [ ]:
concated_df = pd.concat([df2,lab_df],axis=1)

In [ ]:
concated_df

### So what exactly does the join method do? Use the join method utilizing the 'left join'

Answer Below

In [ ]:
joined_df = df1.join(df2, on=df1.index,how='left')

In [ ]:
joined_df

## Now let's talk about .loc vs .iloc

The Pandas loc indexer can be used with DataFrames for two different use cases: 

a.) Selecting rows by label/index  
b.) Selecting rows with a boolean / conditional lookup

a.) Selecting rows by label/index

In [ ]:
# Select rows with index values '0' through '100', with all columns between 'age' and 'chol'
joined_df.loc[0:100, 'age':'chol']

>Notice below .loc[487] does not grab row 487, but rather the index of 487

In [ ]:
joined_df.loc[487]

b.) Selecting rows with a boolean / conditional lookup

In [ ]:
# select rows with indexes between 100 and 200, and just return 'age' and 'cp' columns
joined_df.loc[(joined_df.index > 100) & (joined_df.index <= 200), ['age', 'cp']]

The iloc indexer for Pandas Dataframe is used for integer-location based indexing / selection by position.

##### Use .iloc to grab specific rows

First 4 rows

In [ ]:
joined_df.iloc[0:4]

First 3 columns

In [ ]:
joined_df.iloc[:,0:3]

Or grab rows (0,3,6,24) from columns (0,5,6)

In [ ]:
joined_df.iloc[[0,3,6,24], [0,5,6]]

# Ways to utilize lambda functions
#### .map(), .apply(), .applymap()

The map() method only works on pandas series

The apply () method works on panda series and data frames

The applymap() method works on the entire pandas data frame where the input function is applied to every element individually. In other words, applymap() is appy() + map()!

In [ ]:
df = pd.read_csv('heart.csv')
df.head()

In [ ]:
new_df = df.age.map(lambda x: x * 10)

In [ ]:
super_df = df.age.apply(lambda x: x * 10)

#### How else could we manipulate the 'age' column?

Do these two dataframes equal the same thing?

In [ ]:
(new_df == super_df).value_counts()

In [ ]:
apply_df = df.applymap(lambda x: x*10)

In [ ]:
apply_df

In [ ]:
!pip install faker

In [ ]:
from faker import Faker
fake = Faker()
fake.name()

Let's generate a column of names

In [ ]:
df['name'] = [fake.name() for x in range(1025)]
df.head()

In [ ]:
df.name = df.name.map(lambda x: x.replace(" ",'_'))

## BONUS:
##### Can you grab the row with info on Brent Jones?

In [ ]:
brent_jones = None

Answer Below

In [ ]:
brent_jones = df.loc[df['name'] == 'Brent_Jones']